
.main__section .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000000;
    transition: all .9s;


   

    /* display: none; */

    opacity: 0;
}


.main__section .blur.active {

    /* display: block; */

    opacity: 1;

    z-index: 2;

    transition: all .9s;


}
.mobile__menu__originalUpakovki {

    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: gray;
    transform: translateY(-100%);

    transition: all .9s;


}

.arrow__down, .btn__close {

    width: 30px;
    height: 30px;
}
